.pdpWrapper {
  .centerArea {
    display: flex;
    height: auto;
    .leftArea {
      width: 30%;
    }
    .rightArea {
      width: 70%;
      display: block;
      .aboutCourseWrapper {
        margin: 2rem;
      }
      .authorAndPreReqWrapper {
        display: flex;
        margin: 2rem;
        .preRequisite {
          width: 45%;
        }
        .authorCard {
          width: 55%;
        }
      }
    }
  }
}
