.contentListComponentWrapper {
  margin: 0rem 3rem 3rem 3rem;
  border: 1px solid rgb(211, 211, 211);
  padding: 1rem;
  min-height: 41vh;
  overflow-y: auto;
  .contentTitles {
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 0.3s;
      color: black;
    }
  }
}
