.membership-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 40%;
    padding: 3rem;
  }
  .title {
    font-family: unset;
    font-size: 24.5px;
  }
  .form {
    border-radius: 15px;
    background-color: #fff;
    min-width: 100%;
    padding: 4rem 2rem;
    box-shadow: -5px 7px 32px 0px rgba(0, 0, 0, 0.35);
  }
  form {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .radio-group {
    text-align: left;
    margin-top: 30px;
  }
  .membership-type {
    width: 100%;
    height: 150px;
  }

  .float-child1 {
    width: 80%;
    float: left;
  }
  .float-child2 {
    margin-left: 85%;
  }

  .label {
    font-family: unset;
    font-weight: 450;
  }
  .para {
    line-height: 5mm;
    font-family: unset;
    font-size: smaller;
  }
  .flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card-submit {
    width: 100%;
    font-family: unset;
    margin: 0 auto;
    color: #fff;
    font-size: 4mm;
    font-weight: 500;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #14a76c;
    transition: background-color 250ms ease-in-out;
  }

  .card-submit:hover {
    background-color: #4183f5;
  }
}
