div {
  display: block;
}
.container-Non-Functional {
  background: #f7f9fa;
  border: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.sub-container {
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper1 {
  display: flex;
}

.icon-container {
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
}
.text-container {
  max-width: 28.8rem;
}
.icon-wrapper {
  background: #d1d7dc;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-wrapper {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  text-align: left;
}

.image {
  color: #1c1d1f;
  width: 2.4rem;
  height: 2.4rem;
  fill: currentColor;
  display: inline-block;
  flex-shrink: 0;
}
